/*============= RESET STYLE =============

/*-- iPhone X Remove Gutters
Ignore W3C Validation error for this style. --*/
html {
   padding: env(safe-area-inset);
}

/*-- Body Resets --*/
body {
   font-family: 'Lato', sans-serif;
   color: #505962;
}

/*============= NAVIGATION =============*/
.navbar-brand  img{
   height: 2rem;
}

.navbar-dark {
   padding: .6rem 1rem;
   font-size: .9rem;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: .1rem;
}

.navbar-nav li {
   padding-right: .8rem;
}
.navbar-nav .nav-link {
   padding-top: .8rem;
   color: white!important;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
   color: #00b3ff!important;
}


/*============= LANDING PAGE =============*/

/*-- Fixed Landing Page Section --*/
.landing {
   height: 80vh;
}
.home-inner {
   /*background-image: url('../img/Landing1.jpeg');*/
   overflow: hidden;
   position: fixed;
}
.home-inner figure div{
   float: left;
   width: 20%;
}
.home-inner figure img{
   float: left;
   width: 100%;
}
.home-inner figure{
   position: relative;
   width: 500%;
   margin: 0px;
   left: 0;
   animation-duration: 20s;
   animation-name: slidepicture;
   animation-iteration-count: infinite;
}

@keyframes slidepicture{
   0%{
      left: 0%;
   }
   10%{
      left: 0%;
   }
   12%{
   left: -100%;
   }
   22%{
      left: -100%;
   }
   24%{
      left: -200%;
   }
   34%{
      left: -200%;
   }
   36%{
      left: -300%;
   }
   46%{
      left: -300%;
   }
   48%{
      left: -400%;
   }
   58%{
      left: -400%;
   }
   60%{
      left: -300%;
   }
   70%{
      left: -300%;
   }
   72%{
      left: -200%;
   }
   82%{
      left: -200%;
   }
   84%{
      left: -100%;
   }
   94%{
      left: -100%;
   }
   96%{
      left: 0%;
   }
   100%{
      left: 0%;
   }
}

/*-- Landing Page Content --*/
.caption {
   z-index: 2;
   position: absolute;
   top: 40%;
   text-align: center;
}
.btn {
   border-width: medium;
   border-radius: 0;
   /*text-transform: uppercase;--*/
   padding: .5rem 1.2rem;
   
}
/*============= ABOUT SECTION =============*/

/*-- Scrollspy Offset --*/
.offset:before {
   content: "";
   height: 3.875rem;
   display: block;
   margin-top: -3.875rem;
}

.heading {
   font-weight: 700;
   padding-bottom: 1rem;
   color: #00b3ff;
}

.about .svg-inline--fa {
   color: #00b3ff;
}


/*============= PORTFOLIO SECTION =============*/



/*============= TESTIMONIALS SECTION =============*/



/*============= CONTACT SECTION =============*/
.form {
   margin-top: 70px;
   transition: all 4s ease-in-out;
   justify-content: center;
   
}
.contact-form{
   align-content: center;
   /*border: solid 2px #00b3ff;
   border-radius: 30px;*/
}

.form-control {
   width: 600px;
   border-bottom: 1px solid gray;
   font-size: 18px;
   margin-bottom: 16px;
}

.input{
   height: 25px;
}





/*============= MEDIA QUERIES =============*/

/* Medium (md) devices (tablets, 768px and under) */
@media (max-width: 767.98px) {
   .caption{
      top: 34%;
   }
   .caption h1{
      font-size: 1.8rem;
   }

}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Fixed Landing Page Section --*/
.landing {
   position: relative;
   width: 100%;
   display: table;
   z-index: -1;
}
.home-wrap {
   clip: rect(0, auto, auto, 0);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.home-inner {
   display: table;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center center;
   transform: translateZ(0);
   -webkit-transform: translateZ(0);
   will-change: transform;
}